{% extends "base.html" %}
{% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">
    <title>ТБО Аналитика</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="" type="image/png" sizes="14x16"/>

    <!-- Main Style CSS -->
    <link href="assets/css/style.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li class="nav-item">
                        <form action="/">
                            <button id="btn-home" class="nav-link py-3 px-2">
                                <i class="bi-justify fs-1" data-toggle="tooltip" data-placement="right"
                                   title="На главную"></i>
                            </button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <button id="btn-1" class="nav-link py-3 px-2">
                            <i class="bi-camera-video fs-1" data-toggle="tooltip" data-placement="right"
                               title="Видео-аналитика"></i>
                        </button>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <button id="btn-2" class="nav-link py-3 px-2">
                            <i class="bi-bar-chart-line fs-1" data-toggle="tooltip" data-placement="right"
                               title="Статистика"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm min-vh-100">
            <div class="block-1 d-flex">
                <div class="block-2 col-sm-9 p-3 object-fit-contain">
                    {% if image_file %}
                        <img src="{{ url_for('static', filename=image_file) }}" alt="Loaded image">
                    {% elif video_file %}
                        <video class="video-block object-fit-contain" controls>
                            <source src="{{ url_for('static', filename=video_file) }}" type="video/mp4"> Your browser does not support the video tag.
                        </video>
                    {% endif %}
                </div>
                <div class="block-3 col-sm-3 h-100 p-3 overflow-auto">
                    <div class="list-group-checkable d-grid gap-2">
                        <label class="l1 list-group-item rounded-3 p-3 border border-primary"
                               for="listGroupCheckableRadios1">
                            <strong>Время (кадр)</strong>
                            <span class="d-block small opacity-50">Стекло:</span>
                            <span class="d-block small opacity-50">Дерево:</span>
                            <span class="d-block small opacity-50">Метал:</span>
                            <span class="d-block small opacity-50">Пластик:</span>
                        </label>

                        <label class="l1 list-group-item rounded-3 p-3 border border-primary"
                               for="listGroupCheckableRadios1">
                            <strong>Время (кадр)</strong>
                            <span class="d-block small opacity-50">Стекло:</span>
                            <span class="d-block small opacity-50">Дерево:</span>
                            <span class="d-block small opacity-50">Метал:</span>
                            <span class="d-block small opacity-50">Пластик:</span>
                        </label>


                    </div>
                </div>
            </div>
            <div class="block-4 container p-3" style="display: none;">
                <div class="row">
                    <div class="mx-auto col-lg-6">
                        Бар-чарт с общим кол-вом предметов по каждой категории
                        <div class="d-flex justify-content-center">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="mx-auto col-lg-6">
                        Пай-чарт процент перерабатываемого, сжигаемого и тд
                        <div class="d-flex justify-content-center">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}