{% extends "base.html" %}
{% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">
    <title>ТБО Аналитика</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="" type="image/png" sizes="14x16"/>

    <!-- Main Style CSS -->
    <link href="assets/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <div class="py-5">
        <h1 class="t1 display-4 fw-bold">ТБО Аналитика</h1>
        <div class="col-lg-6 mx-auto">
            <p class="t2 display-5 fw-bold text-body-emphasis">
                Для демонстрации работы выберете видеофайл или изображение
            </p>

            <div class="d-grid gap-2  justify-content-center w-100">
                <div class="mb-3">
                    <form action="/upload_video" method="post" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                              <input type="file" name="file" autocomplete="off" class="custom-file-input" id="inputGroupFile04">
                              <label class="custom-file-label" for="inputGroupFile04">Выберете файл</label>
                            </div>
                            <div class="input-group-append">
                              <button type="submit" class="b2 btn btn-outline-info px-4 me-sm-3 fw-bold" type="button">Начать</button>
                            </div>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}